.button {
  border-radius: var(--radius-sm);
  border: none;
  background-color: var(--color-primary);
  color: #fff;
  min-width: 42px;
  transition-timing-function: ease-in-out;
  user-select: none;
}

.button.add-manual,
.button[data-js-quick-add-button] {
  min-height: 42px;
}

.button.is-current {
  background-color: var(--color-danger);
}

.button:active,
.todo__item-checkbox:active {
  scale: 0.9;
}

button:hover {
  scale: 1.05;
}