.todo__item-checkbox {
  appearance: none;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0;
  border: 1px solid var(--color-border);
  border-radius: 4px;

  cursor: pointer;

  &:hover {
    border-color: var(--color-accent-alt);
  }

  &:not(:checked) {
    &::after {
      opacity: 0;
    }
  }

  &:checked {
    background-color: var(--color-accent-alt);
    border: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    background: url('../../icons/icon-check_white.svg') center/contain no-repeat;
  }
}