.todo__info-delete-all-button {
  background: none;
  color: var(--color-danger);
  padding-block: 0;

  &:not(.is-visible) {
    opacity: 0;
    visibility: hidden;
  }
}

@media (width > 550px) {
  .todo__info-delete-all-button {
    translate: 0 4px;
  }
}