.field {
  position: relative;
  display: flex;
  gap: var(--space-sm);
  flex-direction: column;
}

.field__label {
  position: absolute;
  top: 9px;
  left: 9px;
  pointer-events: none; 
}

.field__input {
  flex: 1;
  padding: var(--space-sm);
  padding-right: var(--space-md);
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-border);

  /* Убираем дефолтную стрелку */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  position: relative;
  cursor: pointer;
  left: var(--space-sm);
}

/* Убираем стрелку в Chrome/Safari/Edge */
.field__input::-webkit-calendar-picker-indicator {
  display: none !important;
}

/* Убираем стрелку в Firefox */
.field__input::-moz-list-button {
  display: none !important;
}

/* Убираем иконку списка */
.field__input::-webkit-list-button {
  display: none !important;
}

/* Убираем стрелку datalist */
.field__input::-webkit-clear-button {
  display: none !important;
}

.field__input:focus + .field__label,
.field__input:not(:placeholder-shown) + .field__label {
  z-index: 1;
  top: -12px;
  font-size: 14px;
  padding-inline: var(--space-xs);
  background-color: var(--color-surface);
  transition: var(--transition-duration) ease-in-out;
}

@media (width > 450px) {
    .field {
      flex-direction: row;
    }
}