.filters {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.filters__button {
  min-width: 118px;
  height: auto;
}

@media (width < 491px) {
  .filters {
    width: 100%;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
      'all all all all'
      'active active complete complete';
    & :nth-child(1) {
      grid-area: all;
    }
    & :nth-child(2) {
      grid-area: active;
    }
    & :last-child {
      grid-area: complete;
    }
  }
}

@media (width < 334px) {
  .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(1rem / 2);
  }
  .filters__button {
    width: 100%;;
  }
}