html, body {
  background-color: var(--color-bg);
  color: var(--color-text);
  
  /* Шрифты на выбор */
  /* font-family: var(--font-base); */
  font-family: var(--font-main);
  /* font-family: var(--font-main-3); */
}

body {
  padding-inline: 1rem;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

label,
.complete-line,
.filters button:not(.is-current) {
  opacity: 0.7;
}

/* Класс для скрытия элементов визуально, но оставления их доступными для скринридеров */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}