html, body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
}

body {
  padding-inline: 1rem
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

label,
.complete-line,
.filters button:not(.is-current) {
  opacity: 0.7;
}